<template>
  <v-dialog transition="dialog-transition" max-width="600" v-model="show">
    <template>
      <v-card class="more-info">
        <v-card-text>
          <p class="display-1 text--primary">
            {{ this.package ? this.package.name : "-" }}
          </p>
          <p class="description">
            {{ this.package ? this.package.description : "-" }}
          </p>
          <div class="statistics">
            <v-divider></v-divider>

            <StatisticItem
              title="Author"
              :value="this.package.author ? this.package.author.name : '-'"
              :loading="false || this.loadingInfo"
            />

            <StatisticItem
              title="Publisher"
              :value="
                this.package.publisher ? this.package.publisher.username : '-'
              "
              :loading="false || this.loadingInfo"
            />

            <StatisticItem
              title="Weekly Downloads"
              :value="packageUsageStats ? packageUsageStats.total : '-'"
              :loading="false || this.loadingInfo"
            />
            <StatisticItem
              title="Version"
              :value="this.package.version ? this.package.version : '-'"
              :loading="false || this.loadingInfo"
            />

            <StatisticItem
              title="Unpacked Size (KB)"
              :value="packageKillobyteSize"
              :loading="false || this.loadingInfo"
            />

            <StatisticItem
              title="Total Files"
              :value="totalPackageFiles ? totalPackageFiles : ''"
              :loading="false || this.loadingInfo"
            />

            <v-divider></v-divider>

            <div class="links">
              <div
                class="link"
                v-for="(linkValue, linkKey, index) in this.package.links"
                :key="index"
              >
                <span class="link-name">
                  {{ linkKey }}
                </span>
                <a :href="linkValue" target="_blank" class="link-ref">
                  {{ linkValue }}
                </a>
              </div>
            </div>
            <v-divider></v-divider>
          </div>
        </v-card-text>
        <v-card-actions class="justify-end">
          <v-btn text @click="show = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </template>
  </v-dialog>
</template>

<script>
import StatisticItem from "./StatisticItem";

export default {
  props: { package: Object, visible: Boolean, loadingInfo: Boolean },
  components: {
    StatisticItem
  },
  computed: {
    show: {
      get() {
        return this.visible;
      },
      set(value) {
        if (!value) {
          this.$emit("closeModal");
        }
      }
    },
    totalPackageFiles() {
      return this.$store.getters.totalPackageFiles;
    },

    totalPackageSize() {
      return this.$store.getters.totalPackageSize;
    },
    packageUsageStats() {
      return this.$store.getters.packageUsageStats;
    },
    packageKillobyteSize() {
      return (this.totalPackageSize / 1000).toFixed(2);
    }
  }
};
</script>


<style lang="scss" scoped>
.more-info {
  padding: 2em;
}

.description {
  text-align: justify;
}

.statistics {
  font-size: 1.2em;

  .link {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0.5em 0em;

    .link-ref {
      text-decoration: none;
      color: inherit;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .files-info {
    display: flex;
    justify-content: space-between;
  }
}
</style>