<template>
  <v-card elevation="2" shaped class="search">
    <h1 class="search-header">npmSearch</h1>

    <div class="search-input">
      <v-text-field
        label="npm package name"
        v-model="packageName"
        :loading="loadingPackage"
        :disabled="loadingPackage"
        @keydown.enter="searchPackages"
      ></v-text-field>
      <v-btn
        class="ma-2"
        outlined
        color="indigo"
        :disabled="!packageName || loadingPackage"
        @click="searchPackages"
      >
        Search
      </v-btn>
    </div>

    <SearchResults></SearchResults>
  </v-card>
</template>

<script>
import SearchResults from "./SearchResults";
export default {
  components: {
    SearchResults
  },
  data() {
    return {
      packageName: "",
      loadingPackage: false
    };
  },
  methods: {
    async searchPackages() {
      this.loadingPackage = true;
      try {
        await this.$store.dispatch("searchPackage", this.packageName);
      } catch (error) {
        console.error(error);
      } finally {
        this.loadingPackage = false;
      }
    }
  }
};
</script>

<style lang=scss scoped>
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

.search {
  width: 80%;
  border: 1px solid #e2e2e2;
  padding: 2rem;
  border-radius: 1rem;

  .search-header {
    text-align: center;
    font-family: "Comfortaa", cursive;
    font-size: 3em;
  }

  .search-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
  }
}
</style>
