<template>
  <div class="search-results">
    <v-data-table
      :headers="headers"
      :items="searchResults"
      :items-per-page="10"
      @click:row="selectRow"
      v-if="searchResults"
    ></v-data-table>

    <Modal
      :visible="modalVisibility"
      :package="currentPackage"
      :loadingInfo="loadingInfo"
      @closeModal="closeModal"
    >
    </Modal>
  </div>
</template>

<script>
import Modal from "./Modal";
export default {
  components: { Modal },
  data() {
    return {
      currentPackage: {},
      modalVisibility: false,
      loadingInfo: false,
      headers: [
        { text: "Package name", value: "package.name" },
        { text: "Author", value: "package.author.name" },
        { text: "Version", value: "package.version" }
      ]
    };
  },
  methods: {
    showModal() {
      this.modalVisibility = true;
    },
    closeModal() {
      this.modalVisibility = false;
    },
    async selectRow(rowValue) {
      this.currentPackage = rowValue.package;
      this.loadingInfo = true;
      this.showModal();
      try {
        await this.$store.dispatch("getPackageFiles", {
          name: rowValue.package.name,
          version: rowValue.package.version
        });
        await this.$store.dispatch("getPackageUsageStats", {
          name: rowValue.package.name
        });
      } catch (error) {
        this.closeModal();
        console.error(error);
      } finally {
        this.loadingInfo = false;
      }
    }
  },
  computed: {
    searchResults() {
      return this.$store.getters.searchResults;
    }
  }
};
</script>

<style lang="scss" scoped>
.search-results {
  margin: 1rem 0rem;
}
</style>