<template>
  <div class="skeleton">
    <v-skeleton-loader type="list-item" />
    <v-skeleton-loader type="list-item" />
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.skeleton {
  display: grid;
  grid-template-columns: 3fr 10fr;
}
</style>