<template>
  <div class="statistic-item">
    <StatisticItemSkeleton v-if="this.loading" />
    <div class="statistic-info" v-else>{{ this.title }}: {{ this.value }}</div>
  </div>
</template>

<script>
import StatisticItemSkeleton from "./StatisticItemSkeleton";

export default {
  props: {
    title: String,
    value: [String, Number],
    loading: Boolean
  },
  components: {
    StatisticItemSkeleton
  }
};
</script>

<style>
.statistic-item {
  margin: 1.1em 0em;
}
</style>