<template>
  <v-app>
    <Search />
  </v-app>
</template>

<script>
import Search from "./components/Search";
export default {
  components: {
    Search
  }
};
</script>

<style>
#app {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
.v-application--wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
</style>
